<div class="fixed flex flex-col w-full top-0 left-0  bg-white z-10 lg:py-2 lg:px-2 lg:bg-gray-300 lg:w-1/5 lg:ml-1/20">
        <a href="/">
            <div id='logo' class="flex h-auto w-max mx-auto items-center pt-4 z-10 lg:px-4 lg:mx-0">
                <img class="h-10" src="/images/logo.svg" alt="">
                <h1 class="ml-1 items-center">That Day</h1>
            </div>
        </a>

        <div id="sidebar" class="absolute flex flex-col justify-evenly h-screen w-2/3  px-2 bg-white opacity-0 ssm:w-1/3 md:w-1/4 lg:static lg:w-full lg:pb-36 lg:px-6 lg:opacity-100 lg:bg-gray-300 ">
            <div class="">
                <h2 class="">About</h2>
                <p class="mt-4">This project is meant to remind us about some of  the most important parts of world history. 
                    It makes use of the Wikipedia API to automatically parse Wiki and create short posts.
                </p>
            </div>
            <div class="">
                <h2 class="mt-6">Contribute</h2>
                <p class="mt-4">
                    It would be really helpful if you could provide me with your thoughts regarding this project.<br> E-mail to contact: example@gmail.com
                </p>
            </div>
        </div>
    </div>

    <div id='menu' class="fixed right-6 bottom-10 p-2 z-10 bg-blue-200 rounded-full lg:hidden ">
        <img class='h-6'src="/images/menu.svg" alt="">
    </div>

<div id='articles' class="max-w-4/5 mx-auto pt-16 pb-6 md:max-w-13/20 lg:max-w-13/20 lg:pt-2 lg:mx-0 lg:ml-3/10 lg:mr-1/20">
    <h1 class="w-max mx-auto mb-5 mt-1 text-4xl">{{today}}</h1>
        <div class="">
            {{#each arts}}
                <a href="{{this.rel_article}}">
                    <div class="group relative flex flex-col  items-center bg-gray-300 max-w-4/5 md:max-w-1/2 min-h-1/4 mb-6 mx-auto rounded-md transform transition-transform hover:scale-105 sm:bg-transparent ">
                        <img class='object-cover max-h-3/5 w-full rounded-md' src="{{this.urls.[0]}}" alt="">
                        <div class="w-full h-full opacity-70 bg-gray-300 rounded-md transition-opacity group-hover:opacity-70 sm:absolute lg:opacity-90"></div>
                        <h2 class="w-max mx-auto mb-2 text-2xl sm:absolute md:mb-0">{{this.year}} year</h2>
                        <p class='w-10/12 mx-auto mb-2 transition-opacity group-hover:opacity-100 sm:absolute lg:opacity-0'>{{this.text}}</p>
                    </div>
                </a>
            {{/each}}
        </div>

</div>